* {
    box-sizing: border-box;
}

.box {
    border: 1px solid black;
    padding: 10px;
    background: #E3E3E3;
    display: flex;
    flex-wrap: wrap;
}

.box__image {
    width: 100%;
}
.box__image-container{
    width: 400px;
}
.box__text{
    width: 50%;

}
