*{
    box-sizing: border-box;
}
.portfolio{
    display: flex;
    width: 1200px;
    justify-content: space-around;
    margin: 10px auto;
}
.folder{
    height: 600px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;


}


.image{
    height: 160px;
    width: 200px;
    background-image: url("../images/image.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 20px;
}
.text{
    padding: 5px;
}