$color-default: #444444; //główny kolor
$color-darken: #696969; // nieco ciemny, np w menu
$color-brand: #FC4887; //color logo
$color-background: #E4E4E4; // tło
$color-nav: #1691C3; // kolor nawigacji
$color-primary: #0090c5; // kolor niebieski, w przyciskach
$color-light: #f1f1f1; // jasnoszary, np na przycisku
$color-reset: #fff;
